<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<style>
table{
	text-align: center;
}
</style>
</head>
<body>
	<!-- jsp@include file="header_nav.html" -->
	<header th:insert="header_nav.html"></header>
	<!-- request.getAttribute("test") -->
	<h1>장바구니 리스트</h1>
	<table class="table">
		<thead>
			<tr>
				<th>ITEM_NUM</th>
				<th>NAME</th>
				<th>TITLE</th>
				<th>COUNT</th>
				<th>PRICE</th>
				<th>MEMBER</th>
				<th>CATEGORY</th>
				<th>BASKET_COUNT</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="basket:${basketList}">
				<td th:text="${basket.itemNum}"></td>
				<td th:text="${basket.item.name}"></td>
				<td th:text="${basket.item.title}"></td>
				<td th:text="${basket.item.count}"></td>
				<td th:text="${basket.item.price}"></td>
				<td>
					<span th:text="${basket.item.member?.id}"></span>
					(<span th:text="${basket.item.member?.name}"></span>)
				</td>
				<td>
					<span th:text="${basket.item.cate?.cateNum}"></span>
					(<span th:text="${basket.item.cate?.name}"></span>)
				</td>
				<td>
					<form action="/itemBasket/update.do" method="post">
						<input type="hidden" name="basketNum" th:value="${basket.basketNum}">
						<input type="hidden" name="memberId" th:value="${basket.memberId}">
						<input type="hidden" name="itemNum" th:value="${basket.itemNum}">
						
						<div class="input-group">
							<select class="form-select" name="count">
								<th:block th:each="count:${#numbers.sequence(basket.count+10,1)}">
								<option th:selected="(${count}==${basket.count})" th:value="${count}" th:text="${count}"></option>
								</th:block>
							</select>
							<button class="btn btn-outline-info">수정</button>
						</div>
					</form>
				</td>
				<td>
				<form action="/itemBasket/delete.do" method="post">
					<div class="input-group mb-3">
					  <div class="input-group-text">
					    <input class="form-check-input mt-0" type="checkbox" name="basketNum" th:value="${basket.basketNum}">
					  </div>
					  <button class="form-control btn btn-outline-danger">삭제</button>
					</div>
				</form>
				</td>
			</tr>
		</tbody>	
	</table>
</body>
</html>










