<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<!-- jsp@include file="header_nav.html" -->
		<header th:insert="header_nav.html"></header>
		<!-- request.getAttribute("test") -->
		<h1>멤버 리스트</h1>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>PHONE</th>
					<th>EMAIL</th>
					<th>NAME</th>
					<th>ADDRESS</th>
					<th>SIGNUP_TIME</th>
					<th>GRADE</th>
					<!-- <th>ITEMBASKET(LIST)</th> -->
					<th>장바구니(아이템 수)</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="mem:${memList}">
					<td th:text="${mem.id}"></td>
					<td th:text="${mem.phone}"></td>
					<td th:text="${mem.email}"></td>
					<td th:text="${mem.name}"></td>
					<td th:text="${mem.address}"></td>
					<td th:text="${mem.signupTime}"></td>
					<td th:text="${mem.grade}"></td>
					<!-- <td th:text="${mem.itemBasket}"></td> -->
					<td>
						<span th:text="${mem.basketCount}"></span>
						(<span th:text="${mem.basketCountSum}"></span>)
					</td>
				</tr>
			</tbody>	
		</table>
	</body>
</html>